
.content {
    width: 100%;

}

.content__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.header__icon {
    height: 64px;
    width: 64px;
    padding: 10px;
}
.header__title {
    font-size: 24px ;
}
.content__form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 15px;
    
}
.form__subs {
    display: flex;
    width: 100%;
    font-size: 17px;
    line-height: 25px;
   
    
}
.form__email, .form__pwd {
    height: 45px;
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    border: 1.5px solid grey;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 5px;

  

}
.form__check {
    width: 20px;
    height: 20px;
    margin: 0px;
    background-color: black;
    border: 1px solid white;
    margin-right: 9px;
}
.button__signIn, .content__button {
    background-image: linear-gradient(#71b7ed, #4291d2);
    border: 1px solid #0077CC;
    border-radius: 4px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.47059;
    width: 100%;
    overflow: visible;
    padding: 4px 15px;
    text-align: center;
    touch-action: manipulation;
    white-space: nowrap;
    align-self: center;
}
.content__button {
    width: 100px;
}

.button__signUp:hover {
    background-image: linear-gradient(#5fb0ed, #296697);
    border-color: #1482D0;
    text-decoration: none;
  }
  
  
  .button__signUp:active {
    background-image: linear-gradient(#63a2d5, #387db5);
    border-color: #67acde;
    outline: none;
  }
  .content__welcome {
    display: flex;
    justify-content: center;
   flex-direction: column;
  }
  .content__h {
    align-self: center;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgb(255, 255, 255) inset !important;
    -webkit-text-fill-color: rgb(0, 0, 0) !important;
}
.content__doNotHaveAcc {
    padding: 10px;
    color: #71b7ed;
    ;
}
/* .content__message {
    padding: 20px 0px 10px 10px;
    justify-content: center;
} */