/* .App {
    margin: auto;
    margin-top: 0px;  
     background-color: #243447;
    color: rgb(252, 252, 252);
    max-width: 1200px;
    width: 100%;
  
  }
  a {
    text-decoration: none ;
    color: rgb(159, 226, 255)
  } */
  